/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #2c5899;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 50px;
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #c0d4f5;
}

/* Cards */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1140px;
    margin: 2rem auto;
    padding: 0 20px;
}

.card {
    display: flex; /* Usando flexbox para alinhar itens */
    flex-direction: column; /* Alinhando itens na coluna */
    justify-content: space-between; /* Distribuindo espaço entre os itens */
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 200px; /* Definindo uma altura fixa para as imagens */
    object-fit: cover; /* Mantendo a proporção da imagem */
}

.card h2 {
    font-size: 1.2rem;
    margin: 0.5rem;
    color: #333;
}

.card p {
    margin: 0.5rem;
    color: #666;
    font-weight: bold;
}

.card button {
    display: block;
    margin: 0.5rem auto;
    padding: 10px 15px;
    background-color: #2c5899;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #1d3a6a;
}

/* Footer */
footer {
    background-color: #2c5899;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

.footer-content {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.footer-content p {
    margin-bottom: 0.5rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
    }
}

